
@{
    ViewBag.Title = "Summary Report";
    ViewBag.selectedMenu = ".sidebar .Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="~/Scripts/report.js"></script>
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-md-6">
        <canvas id="Number_of_claims_within_each_Faculty_for_each_academic_year" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="Number_of_students_making_a_claim_within_each_Faculty_for_each_academic_year" width="400" height="400"></canvas>
    </div>
</div>