
@{
    ViewBag.Title = "Week Report";
    ViewBag.selectedMenu = ".sidebar .WeekReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="~/Scripts/week-report.js"></script>
}

<h2>@ViewBag.Title</h2>
<br />

@Html.TextBox("WeekReport", "", new { @id = "week-report-input", @class = "form-control", @type = "date" })

<br>
<div class="row">
    <div class="col-md-4 Percentage_of_claims_by_each_Faculty_for_a_week"></div>
    <div class="col-md-4 Claims_without_uploaded_evidence_for_a_week"></div>
    <div class="col-md-4 Claims_without_a_decision_after_14_days_for_a_week"></div>
</div>

<hr />
<div class="row m-top">
    <div class="col-md-6 col-md-offset-3 day_has_the_most_claim_for_a_week"></div>
</div>
<br>